<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dicee</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
  </head>
  <body>

    <div class="container">
      <h1>Refresh Me</h1>

      <div class="dice">
        <p>Player 1</p>
        <h2> player 1 wins this game </h1>  
        <img class="img" id="pl1-dice" alt ="dice-1" src="https://github.com/rithinark/case-study/blob/main/dice%20roll/static/images/dice1.png?raw=true">  
          
      </div>

      <div class="dice">
        <p>Player 2</p>
        <img class="img" id="pl2-dice" src="https://github.com/rithinark/case-study/blob/main/dice%20roll/static/images/dice1.png?raw=true">       
      </div>

    </div>


  </body>
  <script src="{{url_for('static',filename='index.js')}}"></script>
  <footer>
    Lirah 🎲 Lipika Maadeswaran  🎲 Rahul Rajamani
  </footer>
</html>
